<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/churuatas/auth"
            class="org.churuata.digital.authentication.RestServlet"
            load-on-startup="false">
        <init-param name="javax.ws.rs.Application"
    			    value="org.churuata.digital.authentication.RestApplication">
		</init-param>
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/churuata.digital/legal"
            base-name="/legal">
      </resource>
   </extension>
 </plugin>
