body   {
  overflow-y: scroll;
  overflow-x: hidden;
}

.nav-link {
color: white !important;
}

.navbar-brand {
color: white !important;
}

.no-padding{
  padding:0;
}

iframe{
  border:none;
  z-index:9999;
  background-color: transparent;
  scrolling:false;
}

.arnac-section{
  position:relative;
 }
 
.embed-responsive-banner {
  padding-bottom: 570%;
}

.embed-responsive-index {
  padding-bottom: 52%;
}

.embed-responsive-vessel {
  padding-bottom: 50%;
}

.embed-responsive-active {
  padding-bottom: 45%;
}

.embed-responsive-4by1 {
  padding-bottom: 400%;
}

.navbar-custom { 
    background-color: #337AB7; 
}
