<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
          id="org.churuata.dashboard.login"
          name="churuata Login Module"
          point="org.eclipse.equinox.security.loginModule">
      <loginModule
            class="org.churuata.digital.authentication.ChuruataLoginModule"
            description="Login module voor churuata">
      </loginModule>
    </extension>
   <extension
         id="mapFilter"
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/"
            class="org.churuata.digital.http.MapFilter"
            load-on-startup="true">
      </filter>
   </extension>
  <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/churuata/web"
            base-name="/WEB-INF">
      </resource>
   </extension>
 </plugin>
